<mat-dialog-content >
    <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
    <div>
    <h4>
        <span>
            {{isUpdate ? 'yaziyi guncelle ' : 'yaziyi gor'}}
        </span>
    </h4>
</div>
<button mat-mini-fab (click)="close()">
   <mat-icon>close</mat-icon>
</button>
</div>

@if(!isUpdate){
    <div class="row">
        <div class="col-md-6">
            <img src="./image{{imgUrl}}.jpg" alt="" style="width: 100%;">
        </div>
        <div class="col-md-6">
            <h2>{{title}}</h2>
            <p>{{body}}</p>
        </div>
        
    </div>
}

@if(isUpdate){
    <div>
        deyismek
    </div>
}
</mat-dialog-content>



